<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IOVault Add item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
    <style>
        div {
            margin-bottom: 5px;
        }
        label {
            display: inline-block;
            width: 140px;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center">
    <br>
    <h1 th:text="#{label.form.add}">form</h1><p></p>
    <form action="#" th:action="@{/app/record/add}" th:object="${record}" method="POST" style="max-width: 350px; margin: 0 auto;" >
        <div class="border border-secondary p-3 rounded">
            <div>
                <label th:text="#{label.record.name}">name</label>
                <input th:field="*{name}" class="form-control"/>
            </div>
            <br>
            <div>
                <label th:text="#{label.record.notes}">notes</label>
                <input th:field="*{notes}" class="form-control"/>
            </div>
            <br>
            <div>
                <label th:text="#{label.record.username}">username</label>
                <input th:field="*{username}" class="form-control"/>
            </div>
            <br>
            <div>
                <label th:text="#{label.record.password}">password</label>
                <input type="password" th:field="*{password}" class="form-control"/>
            </div>
            <br>
            <div>
                <label th:text="#{label.record.uri}">URI</label>
                <input th:field="*{uri}" class="form-control"/>
            </div>
            <br>
            <p>
                <input type="submit" th:value="#{label.form.add-short}" class="btn btn-primary" />
            </p>
        </div>
    </form>
    <form th:action="@{/app}" method="get" style="max-width: 350px; margin: 0 auto;">
        <input type=submit th:value="#{label.form.backToApp}" class="btn btn-link"/>
    </form>
</div>
</body>
</html>