<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
<body style="margin:1%;padding:0">
<form th:action="@{/logout}" method="GET">
    <input type="submit" class="btn btn-info float-right" th:value="#{label.form.signOut}"/>
</form>
<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th><span>Name</span></th>
                                <th><span>Username</span></th>
                                <th><span>URI</span></th>
                                <th><span>&nbsp;</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <a th:href="@{/app/record/add}" class="btn btn-success float-right"
                               th:text="#{label.form.add}">Add item</a>
                            <tr th:if="${records.isEmpty()}">
                                <td colspan="3"> No Records</td>
                            </tr>
                            <tr th:each="record : ${records}">
                                <td>
                                    <img th:src="@{images/key.png}"/>
                                    <a th:href="@{/app/record/update/__${record.id}__}" class="user-link"
                                       th:text="${record.name}">Name</a>
                                </td>
                                <td>
                                    <span class="user-subhead" th:text="${record.username}">Username</span>
                                </td>
                                <td><span class="user-subhead" th:text="${record.uri}">URI</span></td>
                                <td>
                                    <form th:action="@{/app/record/delete/__${record.id}__}">
                                        <input type=submit th:value="#{label.form.delete}"
                                               class="btn btn-danger float-right"/>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>