<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IOVault Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
    <style>
        div {
            margin-bottom: 5px;
        }
        label {
            display: inline-block;
            width: 140px;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center">
    <h1 th:text="#{label.form.title}">form</h1><p></p>
    <form action="#" th:action="@{/registration}" th:object="${regRequest}" method="POST" style="max-width: 350px; margin: 0 auto;" >
        <div class="border border-secondary p-3 rounded">
        <div>
            <label th:text="#{label.user.firstName}">first</label>
            <input th:field="*{firstName}" class="form-control"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:class="${#fields.hasErrors('firstName')}? error"
               th:text="${error}">Validation error</p>
        </div>
        <br>
        <div>
            <label th:text="#{label.user.lastName}">last</label>
            <input th:field="*{lastName}" class="form-control"/>
            <p th:each="error : ${#fields.errors('lastName')}"
               th:class="${#fields.hasErrors('lastName')}? error"
               th:text="${error}">Validation error</p>
        </div>
        <br>
        <div>
            <label th:text="#{label.user.email}">email</label>
            <input type="email" th:field="*{email}" class="form-control"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:class="${#fields.hasErrors('email')}? error"
               th:text="${error}">Validation error</p>
        </div>
        <br>
        <div>
            <label th:text="#{label.user.password}">password</label>
            <input type="password" th:field="*{password}" class="form-control"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:class="${#fields.hasErrors('password')}? error"
               th:text="${error}">Validation error</p>
        </div>
        <br>
        <p>
            <input type="submit" th:value="#{label.form.register}" class="btn btn-primary" />
        </p>
        </div>
    </form>
    <form th:action="@{/login}" method="get" style="max-width: 350px; margin: 0 auto;">
        <input type=submit th:value="#{label.form.loginLink}" class="btn btn-link"/>
    </form>
</div>
</body>
</html>