<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>

<form th:action="@{/logout}" method="GET">
    <input type="submit" class="btn btn-info float-right" value="Sign Out"/>
</form>
<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th><span>First Name</span></th>
                                <th><span>Last Name</span></th>
                                <th><span>Email</span></th>
                                <th><span>&nbsp;</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${users.isEmpty()}">
                                <td colspan="3"> No Users</td>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td>
                                    <span class="user-subhead" th:text="${user.firstName}">First Name</span>
                                </td>
                                <td>
                                    <span class="user-subhead" th:text="${user.lastName}">Last Name</span>
                                </td>
                                <td><span class="user-subhead" th:text="${user.email}">Email</span></td>
                                <td>
                                    <form th:action="@{/admin/users/delete/__${user.id}__}">
                                        <input type=submit th:value="#{label.form.delete}" class="btn btn-danger float-right"/>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>